
nav{
    background-color: #3D4748;
    top:0;
}
h1{
    margin-top: 120px;
    text-align: center;
}
body{
    background-image: linear-gradient(to right, #f3fcf1, white);
}
form{
    background-image: linear-gradient(to left,#f3fcf1, white);
    background-color: white;
    border: 1px solid #9D998E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width:  800px;
    margin: 20px auto;
    padding: 20px;
    input,label{
        vertical-align: middle;
    }
    input,textarea,select{
        text-align: center;
    }
    *{
        margin-bottom: 10px;
    }
}