
nav{
    background-color: #3D4748;
    top:0;
}
h2{
    margin-top: 120px;
    text-align: center;
}
body{
    background-image: linear-gradient(to right, #66747a1e, white);
}
.doodle1{
    position: fixed;
    height: 90%;
    left: 0;
    top:100px;
}
.doodle2{
    position: fixed;
    height: 45%;
    right: 0;
    bottom: 0;
}
.doodle3{
    position: fixed;
    height: 10%;
    right: 40px;
    top: 100px;
    transform: rotate(180deg);
}
.success{
    text-align: center;
    padding: 10px;
    margin : 20px;
    background-color: #3d474844;
    border-bottom: 1px solid #3D4748;
    border-right: 1px solid #3D4748;
}
form{
    background-image: linear-gradient(to left,#66747a08, white);
    border: 1px solid #9D998E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width:  780px;
    margin: 20px auto;
    padding: 20px;
    input,label{
        vertical-align: middle;
    }
    input,textarea,select{
        text-align: center;
        background-color: #ffffff80;
    }
    *{
        margin-bottom: 10px;
    }
}
@media screen and (max-width :1000px) {
    form{
        max-width: 600px;
    }
}
@media screen and (max-width :700px) {
    form{
        max-width: 400px;
    }
}