@font-face {
  font-family: "Alice";
  src: url("assets/fonts/Alice-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*{
    font-family: "Alice", sans-serif;
}
body {
  margin: 0;
  font-size: 18px;
  color :#3D4748;
}
#nav1{
  position: fixed;
  top:0;
  display: flex;
  width:  100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  background-color: rgba(61, 71, 72, 0);
  transition: background-color 0.3s ease;
}
.footer{
  background-color: #3D4748;
  padding: 50px;
}
nav{
  position: fixed;
  display: flex;
  width:  100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  background-color: rgb(61, 71, 72);
  z-index: 9999;
  /* transition: background-color 0.3s ease; */
}
.links{
  display: flex;
}
a{
  margin:0 5px;
  text-decoration: none;
  color: white;
  align-self: center;
}
a:hover{
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.344);
  border-radius: 3px;
  padding: 5px;
}

/* home page --------------------------------------------------- */
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 700px;
  width: 100%;
  background-image: url("assets/images/pexels-pixabay-269077.jpg");
  background-position: left top;
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
}
.welcome {
  width: 450px;
  font-size: 2em;
  background-color:white;
  text-align: center;
  padding-bottom: 20px;
  border:3px solid #3D4748;
  border-radius: 5px;
  span{
    font-weight: bold;
  } 
}
.mission{
  background-color: #3d4748b9;
  color: white;
  padding: 10px;
  margin: 10px;
  border:2px solid #3D4748;
  border-radius: 5px;
}
.services, .experience{
  padding: 15px;
}
.slider{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 5px;
  scrollbar-width: 10px;
}
.service, .review{
  flex: 0 0 auto;
  text-align: center;
}
.service img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: transform 0.5s ease; 
  transform-origin: center;
}
.service p{
  width: fit-content;
  margin: auto;
  font-size: 15px;
}
.review {
  background-color: #9D998E;
  width: 300px;
  text-align: left;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  h3{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
}
button{
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #579ad0;
  color: white;
  border: 2px solid #9D998E;
  border-radius: 5px;
}
button:hover{
  background-color: #36678f;
}
.form1{
  box-shadow: 0 0 50px rgb(0, 0, 0);
  width: 700px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top :50%;
  left:50%;
  transform :translate(-50% ,-50%);
}
.buttons{
  display: flex;
  justify-content: center;
  button{
    margin: 10px;
  }
}
input,textarea{
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color :#3D4748;
  border: 1px solid #36678f;
}
.hide{
  display: none;
}
.appointment{
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px auto;
  height: 600px;
  width: 800px;
  border-radius: 5px;
  background-image: url("assets/images/pexels-pixabay-162583.jpg");
  background-position: left top;
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
  div{
    background-color: rgb(239, 240, 242);
    margin: 0 20px;
    height: fit-content;
    border: 2px solid #36678f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
  }
  a{
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #579ad0;
    color: white;
    border: 2px solid #9D998E;
    border-radius: 5px;
  }
}

table{
  margin: auto;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-collapse: collapse;
  td{
    padding: 10px;
    border: 1px solid white;
  }
}
/* -------animations---------------------- */
.service:hover img {
    transform: scale(1.2); 
}
/* about page --------------------------------------------------- */
.about{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  width: 100%;
  padding-bottom: 40px;
}
.abtimg{
  height: 380px;
  width: auto;
  transition: height 0.2s;
}
/* img animation */
.fade-slide {
  opacity: 0;          /* start invisible */
  position: relative;  /* allow top movement */
  top: 50px;           /* start slightly lower */
}
.firstext{
  text-align: center;
  width: 90%;
  border: 5px dotted #36678f;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 20px 60px 20px;
}
.abtsection{
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
}
.abtsections{
  margin-bottom: 70px;
}
.abtp{
  font-size: 20px;
}
.sectext{
  margin-top: 100px;
  width: 500px;
}
/* img animation */
.fade-text {
  opacity: 0;
}
.doctors{
  width: 100%;
  margin-bottom: 40px;
}
.doctor{ 
  display:flex;
  flex-direction: column;
  width: 50px;
  height: 100px;
  background-color: #9D998E;
  border:1px solid #3D4748; 
  border-radius: 5px;
}
.doctor h3{
  margin-top: 2px;
  margin-left: 10px;
}
.doctor p{
  font-style: italic;
  margin-left: 10px;
}
.docimg{
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.swiper{
  width: 80%;
  height: 450px; 
  padding: 10px 50px 20px 50px !important;
}
.swiper-button-prev,
.swiper-button-next{
  color: grey !important;
  width: 30px !important;
  height: 30px !important;
}
/* contact page --------------------------------------------------- */
.contact{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  width: 100%;
}
.contacts{
  display: flex;
  flex-direction: column;
  border:1px solid #3D4748;
  padding: 10px;
  margin-bottom: 30px;
  width: 500px;
  border-radius: 10px;
}
.cntctmap{
  display: flex;
  gap: 50px;
}
.map{
  width: 350px;
  height: 350px;
  border-radius: 10px;
}
/* --------services------------------------------------------------------- */
.serv{
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
}
.Services{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}
.Service{
  width: 300px;
  height: 200px;
  border: 1px solid #3D4748;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.Service img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.Service h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #3D4748;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}