@font-face {
  font-family: "Alice";
  src: url("assets/fonts/Alata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Alice", sans-serif;
}

body {
  margin: 0;
  font-size: 18px;
  color: #3D4748;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
  font-size: 16px;
  padding: 20px;
  background-color: rgb(61, 71, 72);
  z-index: 9999;
}

#nav1 {
  top: 0;
  z-index: 0;
  background-color: rgba(61, 71, 72, 0);
  transition: background-color 0.3s ease;
}

.footer {
  background-color: #3D4748;
  padding: 50px;
}

.links {
  display: flex;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
  align-self: center;
}

a:hover {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.344);
  border-radius: 3px;
  padding: 5px;
}

/* home page --------------------------------------------------- */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 700px;
  width: 100%;
  background-image: url("assets/images/pexels-pixabay-269077.jpg");
  background-position: left top;
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
}

.welcome {
  width: 450px;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding-bottom: 20px;
  border: 2px solid #3D4748;
  border-radius: 5px;

  p {
    margin: 10px;
  }

  span {
    font-weight: bold;
  }
}

.mission {
  background-color: #3d4748b9;
  width: fit-content;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 2px solid #3D4748;
  border-radius: 5px;
}

.services,
.experience,
.doc-experience {
  padding: 15px;
}

.doc-experience {
  p {
    text-align: center;
    padding: 10px;
    background-color: #3d474844;
    border-bottom: 1px solid #3D4748;
    border-right: 1px solid #3D4748;

  }
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 5px;
  scrollbar-width: 10px;
}

.reviews::-webkit-scrollbar {
  display: none;
}

.service,
.review {
  flex: 0 0 auto;
  text-align: center;
}

.service img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: transform 0.5s ease;
  transform-origin: center;
}

.service:hover img {
  transform: scale(1.2);
}

.service p {
  width: fit-content;
  margin: auto;
  font-size: 15px;
}

.review {
  background-color: #9D998E;
  width: 300px;
  text-align: left;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;

  h3 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: #579ad0;
  color: white;
  border: 2px solid #9D998E;
  border-radius: 5px;
}

.add {
  border-radius: 20px;
  background-color: #3D4748;

}

button:hover {
  background-color: #36678f;
}

.form1 {
  box-shadow: 0 0 50px rgb(0, 0, 0);
  width: 700px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  display: flex;
  justify-content: center;

  button {
    margin: 10px;
  }
}

input,
textarea,
select {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: #3D4748;
  border: 1px solid #36678f;
}

input:focus,
textarea:focus,
select:focus {
  outline: 1.5px solid #36678f;
}

select {
  height: 50px;
}

.hide {
  display: none;
}

.appointment {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px auto;
  height: 600px;
  width: 800px;
  border-radius: 5px;
  background-image: url("assets/images/pexels-pixabay-162583.jpg");
  background-position: left top;
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;

  div {
    background-color: rgb(239, 240, 242);
    margin: 0 20px;
    height: fit-content;
    border: 2px solid #36678f;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
  }

  a {
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #579ad0;
    color: white;
    border: 2px solid #9D998E;
    border-radius: 5px;
  }
}

table {
  margin: auto;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-collapse: collapse;

  td {
    padding: 10px;
    border: 1px solid white;
  }
}

/* about page --------------------------------------------------- */
.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  width: 100%;
  padding-bottom: 40px;
}

.abtimg {
  height: 380px;
  width: auto;
  transition: height 0.2s;
}

/* img animation */
.fade-slide {
  opacity: 0;
  position: relative;
  top: 50px;
}

.firstext {
  text-align: center;
  width: 90%;
  border: 5px dotted #36678f;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 20px 60px 20px;
}

.abtsection {
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
}

.abtsections {
  margin-bottom: 20px;
}

.abtp {
  font-size: 20px;
}

.sectext {
  margin-top: 100px;
  /* width: 500px; */
}

/* img animation */
.fade-text {
  opacity: 0;
}

.doctors {
  width: 100%;
  margin-bottom: 40px;
}

.doctor {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #9D998E;
  border: 1px solid #3D4748;
  border-radius: 10px;
  overflow: hidden;
}

.doctor h3 {
  margin-top: 1px;
  margin-left: 10px;
  margin-bottom: 0;
}

.doctor p {
  font-style: italic;
  margin-left: 30px;
  margin-top: 0;
}

.docimg {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.swiper {
  width: 80%;
  height: 450px;
  padding: 10px 50px 20px 50px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: grey !important;
  width: 30px !important;
  height: 30px !important;
}

/* contact page --------------------------------------------------- */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.contacts {
  display: flex;
  flex-direction: column;
  border: 1px solid #3D4748;
  padding: 20px;
  margin-bottom: 30px;
  width: 500px;
  border-radius: 10px;
}

.cntctmap {
  display: flex;
  gap: 50px;
}

.map {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  align-self: center;
  margin-bottom: 20px;
}

/* --------services------------------------------------------------------- */
.Services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  width: 100%;
  padding-bottom: 40px;
}

.devider {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 70%;
  left: 80%;
  /* transform: translate(-50%, -50%); */
  width: 800px;
  height: auto;
  gap: 20;
  border: 1.5px solid #3D4748;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.accor-item {
  width: 90%;
  display: flex;
  border: 1.5px solid #3D4748;
  margin: 10px;
  border-radius: 10px;
  flex-direction: column;
  background-color: none;
}

.item-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.item-title {
  font-weight: bold;
  margin-bottom: 0px;
}

.item-body {
  display: none;
  font-style: italic;
  padding: 15px;
  margin-top: 0;

  .service {
    width: 450px;
    height: 250px;
    margin: 10px;
    border: 1px solid #3D4748;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
}

.item-body h4,
.item-body p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-content {
  margin-top: 0px;
}

.icon {
  cursor: pointer;
  color: #36678f;
}

/* ------------------responsive design --------------------- */
@media screen and (max-width :1000px) {
  .cntctmap {
    flex-direction: column;
    gap: 0;
  }

  .firstext {
    margin: 40px 5px 60px 5px;
  }

  .abtsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
  }

  .abtimg {
    order: -1;
    width: 400px;
  }

  .sectext {
    order: 0;
    margin-top: 10px;
  }


  .devider {
    width: 600px;
    gap: 20;
    border-radius: 10px;
    padding: 10px;
  }

}

@media screen and (max-width: 700px) {

  body * {
    font-size: 15px;
  }

  h1,
  h2 {
    font-size: 20px;
  }

  nav {
    img {
      width: 150px;
      margin: 5px;
    }

    flex-direction: column;
    align-items: center;
  }

  .home {
    height: 600px;
  }

  .welcome {
    width: 300px;
    font-size: 20px;

    img {
      width: 180px;
    }
  }

  .appointment {
    width: 100%;
    height: 400px;
    margin: 20px 0;
  }

  .footer {
    padding: 15px;
  }

  .item-body {
    .service {
      width: 100%;
      margin: 0;
    }
  }

  .card {
    width: 400px;
  }

  .blur button {
    top: 0;
    right: 0px;
    font-size: 30px;
  }

  .contacts {
    width: 340px;
  }

  .devider {
    width: 370px;
    gap: 20;
    border-radius: 10px;
    padding: 10px;
  }

  .item-body {
    .service {
      width: 300px;
      height: 200px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .swiper {
    width: 310px;
    height: 430px;
    padding: 10px 50px 20px 50px !important;
  }

}