.management_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    /* background-color:  */

    table {
        width: 100%;
        height: 60%;
        background-color: #ecf1f4;
        ;
        border-collapse: collapse;
        border-spacing: 0;
    }

    tr {
        border-bottom: 1px solid #dfdfdf;
    }

    th,
    td {
        padding: 10px 14px;
        border: none;
        vertical-align: middle;
    }

    th {
        border-bottom: 2px solid #dee2e6;
        text-align: center;
    }

    td {
        text-align: left;
        vertical-align: middle;
    }


    td.date {
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        /* padding-top: 25px; */
        align-items: center;
    }

    tbody tr:hover {
        background-color: #3298eb10;
    }

    thead {
        background-color: #2f5f85;
        color: aliceblue;
        text-transform: uppercase;
        font-size: 0.85rem;
    }

    .btn {
        color: #36678f;
        border: none;
        border-radius: 10px;
        width: 35px;
        height: 35px;
        padding: 10px 5px 25px 5px;
        text-align: center;
        font-size: medium;
        font-weight: bold;
    }

    .btn:hover {
        color: #dee2e6;
        background-color: #204167;
    }
}